<div class="wrapper">
  <div
    class="page-header section-dark"
    style="
      background-image: url('../../assets/img/ridersBg.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/company_logo.jfif" alt="" />
          </div>
          <h1 class="presentation-title">UAE Cycling</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">Federation</h2>
      </div>
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png')"
    ></div>
  </div>
  <div class="main">
    <app-basicelements></app-basicelements>
  </div>
</div>
